        <main></main>
        <footer>
            <img src="images/logos/sb-small.png" alt="SourceBans++"/>
            <span><a href="https://sbpp.github.io/" target="_blank" rel="noopener">SourceBans++</a> | Version: {{version}}</span>
            <span>Powered by <a href="http://www.sourcemod.net" target="_blank" rel="noopener">SourceMod</a></span>
            <span>"{{quote.quote}}" - <i>{{quote.author}}</i></span>
        </footer>
    </body>
</html>
