<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}} | SourceBans++</title>
        <link href="includes/main.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/new.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="./scripts/fontawesome-all.min.js"></script>
        <script type="text/javascript" src="./scripts/mootools.js"></script>
        <link rel="Shortcut Icon" href="./images/favicon.ico">
    </head>
    <body>
        <header>
            <img src="images/logos/sb-large.png" alt="SourceBans++ Logo"/>
            <div>
                <b><u>Installation Progress</u></b>
                {{#steps}}
                    <span>{{{.}}}</span>
                {{/steps}}
            </div>
        </header>
