<nav>
    <a href="https://sbpp.github.io/" target="_blank" rel="noopener">SourceBans++</a>
    <a href="https://sbpp.github.io/docs/" target="_blank" rel="noopener">Documentation</a>
    <a href="https://discord.gg/4Bhj6NU" target="_blank" rel="noopener">Discord</a>
    <a href="https://www.sourcemod.net/" target="_blank" rel="noopener">SourceMod</a>
</nav>
